.grid-container{
  display: grid;
  grid-template-columns: auto;
}
#headerContainer{
  display: grid;
  grid-template-columns: 100px auto;
}
#headerLogo img{
  width: 100px;
  height: 100px;
}
.headerButtons{
  justify-self: end;
  align-self: center;
}
.headerButtons button:first-child {
  margin-right: 5px;
}
.headerButtons button:last-child {
  margin-right: 10px;
}